#login-container {
    background: url("../assets/pc-woman.png") no-repeat bottom left;
    min-height: 20em;
}

#login-form {
    margin: 2em auto;
    text-align: center;
    width: 20em;
}

#login-form input {
    background: rgba(45, 38, 67, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    margin: 3em 0;
    padding: 1em;
}

#login-form input::placeholder {
    color: rgba(203, 33, 237, 1);
    font-weight: bold;
}

#login-form input:focus {
    background: rgba(64, 53, 99, 1);
    border: 1px solid rgba(203, 33, 237, 1);
    color: #e5e5e5;
}

#login-form button {
    background: rgba(203, 33, 237, 1);
    border-radius: 10px;
    color: #E5E5E5;
    font-weight: bold;
}