 .quiz-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  
  margin-bottom: 130px;
  color: #fff;
}
  
.questions {
  position: relative;
  width: 100%;
  margin-bottom: auto;
}
  
.question{
  font-size: 30px;
  margin-bottom: 10px;
}

.answers label {
  display: block;
  margin: 25px 0px 10px 0px;
}

button {
  font-size: 22px;
  background-color:#CB21ED;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-top: auto;
}

button:hover {
  background-color:#CB21ED;
}
  
.slide {
  position: absolute;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
  text-align: center;
  padding: 15px;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.quiz-container {
  position: relative;
  min-height: 300px;
  margin-top: 40px;
} 
  
p {
  display: none;
  transition: all 0.5s;
}
  
#completed {
  position: absolute;
  background: white;
  height: 100%;
  text-align: center;
  padding: 16px;
  z-index: 12;
}